<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1><%= title %></h1>
  <% if (position) { %>
  <form action="/positions/<%=position.position_id%>/edit" method="post">
    <div>
      <label>Job Id: <output><%= position.position_id %></output> </label>
    </div>
    <div>
      <label>Job Title:</label><input type="text" id="title" name="title" value="<%= position.title%>" required>
    </div>
    <div>
      <label>Company name: <input type="text" id="company" name="company" value="<%= position.company%>" required> </label>
    </div>
    <div>
      <label>Job Category: <input type="text" id="job_catagory" name="job_catagory" value="<%= position.job_catagory%>" required> </label>
    </div>
    <div>
      <label>Base Salary: <input type="text" id="base_salary" name="base_salary" value="<%= position.salary.base_salary%>" required> </label>
      <label>Bonus: <input type="text" id="bonus" name="bonus" value="<%= position.salary.bonus%>" required> </label>
      <label>Equity: <input type="text" id="equity" name="equity" value="<%= position.salary.equity%>" required> </label>
    </div>

    <input type="submit" value="Submit">
  </form>
  <% } else {%>
  <form action="/positions/add" method="post">
    <div>
      <label>Job Id:</label><input type="number" id="id" name="id" required>
    </div>
    <div>
      <label>Job Title:</label><input type="text" id="title" name="title" required>
    </div>
    <div>
      <label>Company name: <input type="text" id="company" name="company" required> </label>
    </div>
    <div>
      <label>Job Category: <input type="text" id="job_catagory" name="job_catagory" required> </label>
    </div>
    <div>
      <label>Base Salary: <input type="text" id="base_salary" name="base_salary" required> </label>
      <label>Bonus: <input type="text" id="bonus" name="bonus" required> </label>
      <label>Equity: <input type="text" id="equity" name="equity" required> </label>
    </div>

    <input type="submit" value="Submit">
  </form>
  <% }%>

</body>

</html>